# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
venv/

# Logs
logs/
*.log

# Data
data/processed/
data/interim/
data/raw/


# Models
models/**/checkpoints/*
models/**/scalers/*
models/**/lightgbm/*
models/**/tcn/*
models/**/lstm_attention/*
models/*/scalers/
models/*/checkpoints/
forecasts/

# PyTorch
*.pt
*.pth

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Reports
forecasts/results/*
forecasts/plots/*
forecasts/reports/*

# OS files
.DS_Store
Thumbs.db
